@font-face {
    font-family: "Inter";
    src: url("Fontes/Inter-VariableFont_opsz,wght.ttf") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body{
    background-color:#09090B;
    padding:0;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5rem;
}
*{
    color:#A0A0A0;
    font-family:"Inter";
}
nav{
    display:flex;
    flex-direction: row;
    background-color:#2A2A2A;
    width:70rem;
    margin-top: 1rem;
    border-radius: 15rem;
    align-items: center;
    padding-left:10px;
    padding-right:10px;
}
header{
    position: sticky;
    top:0;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    color:white;
}
nav button{
    background-color: #4ADE80;
    border:1px solid transparent;
    border-radius: 5rem;
    padding:0.8rem;
    color:white;
    cursor: pointer;
}
nav span{
    margin-left: 1rem;
    font-size:2rem;
    flex-grow: 2;
}
nav span:hover{
    color:white;
}
nav img{
    border-radius: 50%;
}
nav ul{
    align-items: center;
    display: flex;
    flex: row;
    gap:15px;
    margin-left:30%;
}
nav ul li{
    list-style-type: none;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5rem;
}
#sect-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#title-card{
    font-size:0.8rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap:15px;
    border:1px solid transparent;
    border-radius: 10rem;
    background-color: #2A2A2A;
    width:20rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

#title-card-roundtext{
    border:1px solid #38a861;
    background-color: #38a861;
    color:white;
    padding:0.5rem;
    width: 5rem;
    text-align: center;
    border-radius: 5rem;
}
#text-art{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#text-art h1{
    font-size: 5rem;
    color:white;
}
#text-art p{
    text-align: center;
    font-size: 1.5rem;
}
#button-art{
    display: flex;
    flex-direction: row;
    gap:1rem;
}
#button-art button{
    color:white;
    background-color: #2A2A2A;
    border:transparent;
    border-radius: 5rem;
    padding:1.5rem;
    font-size: .9rem;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap:15px;
}
#image-art{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#image-art img{
    width: 60%;
    border-radius: 5rem;
}
.card-section{
    display: flex;
    flex-direction: row;
    gap:5rem;
    justify-content: center;
    align-items: center;
}
.card-section article{
    width: 35%;
}
.card-section h1{
    color:white;
    font-size: 3rem;
}

.card-section button{
    color:white;
    background-color: #2A2A2A;
    border: transparent;
    border-radius: 5rem;
    font-size:1rem;
    padding:1rem;
    cursor: pointer;
}
.card-section img{
    border-radius: 2rem;
    width: 600px;
}

.models-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1.5rem;
}
.model-card{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap:1rem;
    background-color: #2A2A2A;
    border-radius: 2rem;
    width: 35rem;
    height: 10rem;
    padding:1rem;
}
.model-card img{
    width: 50%;
    border-radius: 2rem;
}
.model-card p{
    color:#38a861
}
.model-card h1{
    color:white;
    font-size: 1.7rem;
}

#text-section{
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    width: 80%;
}
#title-text{
    color:white;
    text-decoration: none;
    font-size: .9rem;
}
#text- h1{
    color:white;
    font-size: 5rem;
    width: 100%;
    margin:0;
}
#text- p{
    width: 70%;
    font-size: 2rem;
}
ol{
    display: flex;
    flex-direction: column;
    gap:5rem;
}
h1{
    margin-left: 2rem;
    color:white;
}
li::marker{
    color:#4ADE80
}

#card-section{
    display: flex;
    flex-direction: column;
    gap:1rem;
    border-radius: 3rem;
    background-color: #2A2A2A;
    width: 80rem;
    height: 30rem;
    align-items: center;
    justify-content: center;
}
#bubble-text{
    border-radius: 3rem;
    background-color: black;
    color:white;
    padding:10px;
    font-size:.9rem;
    margin:0;
}
#title-text h1{
    margin:0;
    font-weight: bolder;
    font-size: 4rem;
}
#button-container{
    display: flex;
    flex-direction: row;
    gap:1rem;
}
#button-container button{
    border-radius: 3rem;
    color:white;
    width: 10rem;
    height: 3rem;
    border:transparent;
    cursor: pointer;
}
#btn-1{
    background-color: #4ADE80;
}
#btn-2{
    background-color: #09090B;
}

footer{
    display: flex;
    flex-direction: row;
}
#logo-ft{
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 50%;
    margin-top:1rem;
}
#logo-text{
    display: flex;
    flex-direction: row;
    padding:0;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#logo-text h1{
    margin:0;
}
#logo-text img{
    width: 64px;
    height: 64px;
    border-radius: 3rem;
}
#logo-btns{
    margin-top:1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#logo-btns button{
    background-color: transparent;
    border:transparent;
    border-radius: 3rem;
    padding:1rem;
    cursor: pointer;
}
#logo-btns button:hover{
    background-color: #2A2A2A;
}
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
}
#prod-ft, #comp-ft, #comu-ft{
    width:50%;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
#prod-ft ul, #comp-ft ul, #comu-ft ul{
    display: flex;
    flex-direction: column;
    gap:1rem;
}